.home-main-section{
  display: flex;
  align-items:stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display:flex;
  align-items: stretch;
  justify-content: flex-start;
}

.home-main-section .orange-feature-img{
  background-image: url(images/orange.png);
  flex-grow: 1;
  min-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}