body {
	color: black;
}

#registration-container {
	margin-top: 20%;
}

@media (min-width: 768px) {
  	#registration-container {
		margin-top: 6%;
	}

	form {
		margin-top: 2%;
	}
}

.container-page {
	background: rgb(173, 173, 173);
}