body {
	color: black;
}

.join-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-top: 5%;
}

.join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.accent-text {
  color: #3390AD;
}

.join-form {
  background-color: #83A6BA;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: .5rem;
}

.input-group input {
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
  max-height: 3.7rem;
}

.input-group input:focus {
  border-color: #135e8a;
}


@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
	padding-top: 5rem;
	padding-bottom: 10rem;
  }

  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
  .join-text{
	  text-align: center;
  }
}
